<a href="https://colab.research.google.com/github/R-Owino/ELECTRIC-CAR-USAGE-ANALYSIS/blob/analysis/Moringa_Data_Science_Prep_W4_Independent_Project_2022_02_Rehema_Owino_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing our libraries

In [1]:
# importing pandas library
import pandas as pd

#importing numpy library 
import numpy as np

# importing the datetime library 
from datetime import datetime as dt

# Loading our dataset

In [2]:
# Reading data from the csv file and creating the dataframe to be used

df = pd.read_csv('Autolib_dataset.csv')

# Previewing our dataset

In [4]:
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Accessing information about our dataset

In [5]:
# Getting to know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Cleaning our dataset 

1. Validity

In [6]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping Columns
# Explanation: Will not be needed in the analysis 

df.drop(['Cars','Displayed comment', 'Address', 'Geo point', 'Public name'], axis = 1, inplace = True)
df.head()

# ID and Public name have the same values, so I decided to drop Public name

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 20 columns]

In [7]:
# Procedure 2: Detecting and dropping outliers
# Data Cleaning Action: Outlier mining  
# Explanation: Need to see where the outliers lie so that I can know how to handle them

# using inter quatile range 
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))

# Might need the outliers during the analysis, I'm therefore not going to remove any at the moment

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  # Remove the CWD from sys.path while we load stuff.

      Bluecar counter  Charge Slots  Charging Status  ...  minute  month   year
0               False         False            False  ...   False  False  False
1               False         False            False  ...   False  False  False
2               False         False            False  ...   False  False  False
3               False          True            False  ...   False  False  False
4               False         False            False  ...   False  False  False
...               ...           ...              ...  ...     ...    ...    ...
4995            False         False            False  ...   False  False  False
4996            False          True            False  ...   False  False  False
4997            False          True            False  ...   False  False  False
4998            False         False            False  ...   False  False  False
4999            False         False            False  ...   False  False  False

[5000 rows x 20 columns]

2. Accuracy

In [10]:
# Procedure : None 
# Data Cleaning Action: No action taken
# Explanation: Since the data is autogenerated, I'll assume that it is accurate

3. Completeness

In [8]:
# Procedure 1: Checking missing values
# Data Cleaning Action: Checking if there are any missing values as a whole 
# Explanation: Missing values can give us wrong analysis results

df.isnull()

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...    day   hour  minute
0               False           False               False  ...  False  False   False
1               False           False               False  ...  False  False   False
2               False           False               False  ...  False  False   False
3               False           False               False  ...  False  False   False
4               False           False               False  ...  False  False   False
...               ...             ...                 ...  ...    ...    ...     ...
4995            False           False               False  ...  False  False   False
4996            False           False               False  ...  False  False   False
4997            False           False               False  ...  False  False   False
4998            False           False               False  ...  False  False   False
4999            False           False               False  ...  False  False   False

[5000 rows x 20 columns]

In [9]:
# Procedure 2: Checking any missing values and counting them
# Data Cleaning Action: Checking if there are missing at all and counting the total sum of them 
# Explanation: Missing values can give us wrong analysis results

# checking for any missing value
df.isnull().values.any()

# summing all missing values 
df.isnull().sum()

Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
ID                        0
Kind                      0
Postal code               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [19]:
# Procedure 3: Dropping missing values 
# Data Cleaning Action: Dropping attribute instances with missing values 
# Explanation: Dropping the missing values will not cause any adverse effects on the results 

# dropping columns with na values 
df = df.dropna(axis = 1)

# resetting the indices 
df = df.reset_index(drop = True)
df

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                   0               0                   0  ...    8   11     43
1                   6               0                   0  ...    6    7     24
2                   3               0                   2  ...    3   20     14
3                   3               1                   0  ...    4    4     37
4                   3               0                   0  ...    8   17     23
...               ...             ...                 ...  ...  ...  ...    ...
4995                2               0                   0  ...    6   11     26
4996                4               0                   0  ...    4   16     56
4997                1               0                   0  ...    1    7      1
4998                2               0                   0  ...    4   17     27
4999                4               0                   0  ...    8   10      2

[5000 rows x 19 columns]

4. Consistency

In [20]:
# Procedure 1: Duplicates
# Data Cleaning Action: Check and remove duplicates
# Explanation: Duplicates are points of repetitions in a dataset and so we remove them

# checking for duplicates 
df[df.duplicated()]

# dropping duplicates 
new_df = df.drop_duplicates()
new_df.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 19 columns]

5. Uniformity

In [22]:
# Procedure 1: Starndadization - Type conversion
# Data Cleaning Action: Changing year, month, day to datetime
# Explanation: this is to enable manipulation on the data



#converting month day and year to datetime 

# first concatenate month, day and year to a new column date in type string
new_df['Date'] = pd.to_datetime(new_df[['year', 'month', 'day']].astype(str).agg('-'.join, axis = 1))

# then change to type datetime
new_df['Date'] = pd.to_datetime(new_df['Date'])


new_df.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  hour minute       Date
0                0               0                   0  ...    11     43 2018-04-08
1                6               0                   0  ...     7     24 2018-04-06
2                3               0                   2  ...    20     14 2018-04-03
3                3               1                   0  ...     4     37 2018-04-04
4                3               0                   0  ...    17     23 2018-04-08

[5 rows x 20 columns]

In [13]:
new_df.dtypes

Bluecar counter                 int64
Utilib counter                  int64
Utilib 1.4 counter              int64
Charge Slots                    int64
Charging Status                object
City                           object
ID                             object
Kind                           object
Postal code                     int64
Rental status                  object
Slots                           int64
Station type                   object
Status                         object
Subscription status            object
year                            int64
month                           int64
day                             int64
hour                            int64
minute                          int64
Date                   datetime64[ns]
dtype: object

# Analysis

Research question: Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Hint:

To compute usage, we will need to understand that we have to join successive (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.

In [23]:
# Step 1

# From the hint, let's find the difference in the number of bluecars at the station 
# by creating a new column Bluecar_difference

new_df['Bluecar_difference'] = new_df['Bluecar counter'].diff()
new_df.head()

   Bluecar counter  Utilib counter  ...       Date  Bluecar_difference
0                0               0  ... 2018-04-08                 NaN
1                6               0  ... 2018-04-06                 6.0
2                3               0  ... 2018-04-03                -3.0
3                3               1  ... 2018-04-04                 0.0
4                3               0  ... 2018-04-08                 0.0

[5 rows x 21 columns]

Interpretation of the difference column:
1. Positive value means a car has been returned
2. Negative value means a car has been picked 
3. 0 means nothing has happened

In [34]:
# Step 2

# Selecting the city of Paris only and filtering rental status to be operational

paris = new_df[(new_df['City'] == 'Paris') & (new_df['Rental status'] == 'operational')]
paris.head()

   Bluecar counter  Utilib counter  ...       Date  Bluecar_difference
0                0               0  ... 2018-04-08                 NaN
1                6               0  ... 2018-04-06                 6.0
3                3               1  ... 2018-04-04                 0.0
4                3               0  ... 2018-04-08                 0.0
5                0               0  ... 2018-04-06                -3.0

[5 rows x 21 columns]

In [36]:
# Step 3
# Getting the most popular hour for picking up Bluecars

# creating a pivot table to display the cars and the hours
p_table = pd.pivot_table(paris, values = ['Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter'], index = ['hour'], aggfunc = np.sum)
p_table

# find the total number of cars by hour
cars_total = p_table['Bluecar counter'] + p_table['Utilib 1.4 counter'] + p_table['Utilib counter']
p_table['Total'] = cars_total

# sort the total number of cars in descending order to find the most popular picking hour
p_table.sort_values(by = 'Total', ascending = False).head(1)

      Bluecar counter  Utilib 1.4 counter  Utilib counter  Total
hour
21                268                  20               8    296

In [49]:
# most popular hour for returning cars 

# using slots: the bigger the number of slots the more cars being rented, the smaller the number of slots the more cars being returned

# creating a pivot table for displaying the sum of slots available per hour 
returning = pd.pivot_table(paris, values = ['Slots'], index = ['hour'], aggfunc = np.sum)

# sorting the slots in ascending order 
returning.sort_values(by = 'Slots').head(1)

      Slots
hour
19      199

In [44]:
# most popular station overally

# finding sum of all cars in a station 
paris['cars'] = paris['Bluecar counter'] + paris['Utilib 1.4 counter'] + paris['Utilib counter']

# sorting the cars in descending order to get most popular station and displaying using a pivot table 
paris.pivot_table(values = ['cars'], index = ['ID'], aggfunc = np.sum).sort_values(by = 'cars', ascending = False).head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                            cars
ID
paris-portedemontrouge-8      50
paris-philippeauguste-126     44
paris-taillebourg-2           38
paris-raymondlosserand-229    37
paris-adolpheyvon-6           37

In [43]:
# most popular station at the most popular picking hour (hour 21)


popular_station = paris[paris['hour'] == 21]
station_name = pd.pivot_table(popular_station, values = ['Bluecar counter', 'Utilib 1.4 counter', 'Utilib counter'], index = ['ID', 'Station type'], aggfunc = np.sum) 
summation = station_name['Bluecar counter'] + station_name['Utilib 1.4 counter'] + station_name['Utilib counter']
station_name['sum'] = summation
station_name.sort_values(by = 'sum', ascending = False).head(1)

                              Bluecar counter  ...  sum
ID              Station type                   ...
paris-reille-59 station                     8  ...    8

[1 rows x 4 columns]

In [48]:
# What postal code is the most popular for picking up Blue cars? 
# Does the most popular station belong to that postal code? No

paris.pivot_table(values = 'Bluecar counter', index = ['Postal code', 'ID'], aggfunc = np.sum).sort_values(by = 'Bluecar counter', ascending = False).head(2)

                                       Bluecar counter
Postal code ID
75011       paris-philippeauguste-126               42
75014       paris-portedemontrouge-8                39

In [52]:
# Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

utilibs = paris['Utilib 1.4 counter'] + paris['Utilib counter']
paris['total utilibs'] = utilibs
paris.pivot_table(values = ['total utilibs'], index = ['hour', 'Postal code', 'ID'], aggfunc = np.sum).sort_values(by = 'total utilibs', ascending = False)


# most popular picking hour = 14
# most popular postal code = 75001
# most popular station is paris-jeanjacquesrousseau-62

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                                               total utilibs
hour Postal code ID
14   75001       paris-jeanjacquesrousseau-62              6
10   75019       paris-mathis-35                           3
6    75015       paris-lourmel-33                          3
13   75015       paris-felixfaure-109                      3
18   75016       paris-murat-1                             3
...                                                      ...
8    75015       paris-colonelpierreavia-1                 0
                 paris-beaugrenelle-4                      0
     75014       paris-sibelle-29                          0
                 paris-raymondlosserand-229                0
23   75112       paris-bercy-5                             0

[2406 rows x 1 columns]

In [54]:
# most popular returning hour for utilib and utilib 1.4

#creating a pivot table for displaying the sum of slots available per hour 
returning = pd.pivot_table(paris, values = ['Slots'], index = ['hour'], aggfunc = np.sum)

# sorting the slots in ascending order 
returning.sort_values(by = 'Slots').head(1)

      Slots
hour
19      199